[submodule "dep/libsndfile"]
	path = dep/libsndfile
	url = https://github.com/erikd/libsndfile.git 
[submodule "dep/soundpipe"]
	path = dep/soundpipe
	url = https://github.com/PaulBatchelor/Soundpipe.git 
